// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.location-text {
  width:30em;
}
.number_movies {
  width:3em;
  margin-right:0.5em;
  float:left;
  color:maroon;
  font-size:10pt;
}
div.online_location {
  color: black;
  display: inline;
}
div.offline_location {
  color: red;
  display: inline;
}
