// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  overflow: hidden;
  margin: 0 0 20px 0;
}
.poster {
  float:left;
  margin-right:1em;
  display:block;
  border:1px solid maroon;
}
.left_column {
  float:left;
  width:250px;
}
.right_column {
  margin-bottom:1em;
}
//--------------------------------------------------
#slideshow {
    position:relative;
    width:200px;
    height:300px;
    //float:right;
    background-color:yellow;
}
#slideshow img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    background-color: white;
}
#slideshow img.active {
    z-index:10;
    background-color: white;
}
#slideshow img.last-active {
    z-index:9;
    background-color: white;
}