<div id="content">
	<h2>List of Locations</h2>
	<p class="flash notice">
		Scan in progress ...
		#TODO: Maintenance
		#TODO: Remove Offline
		#TODO: Backup Database 
	</p>
	<br class="clearfix" />
</div>